<i class="interactive refresh fa fa-refresh" (click)="getTimes()"></i>

<div class="location">
  <h3>{{LIL.name}}</h3>
  <div class="departures">
    <div class="departure-type">
      <i class="fa fa-bus"></i>
      <ul *ngIf="LIL.data.buses.length" class="departure-list">
        <li *ngFor="let bus of LIL.data.buses" class="departure-item"><span class="eta">{{bus.DisplayTime}}</span> <span class="info">({{bus.LineNumber}} {{bus.Destination}})</span></li>
      </ul>
    </div>
    <div class="departure-type">
      <i class="fa fa-train"></i>
      <ul *ngIf="LIL.data.metros.length" class="departure-list">
        <li *ngFor="let metro of LIL.data.metros" class="departure-item"><span class="eta">{{metro.DisplayTime}}</span> <span class="info">{{metro.Destination}}</span></li>
      </ul>
    </div>
  </div>
</div>
